@model HocTiengTrung.Models.CauHoiGhepTu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CauHoiGhepTu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CotBenTrai" class="control-label"></label>
                <input asp-for="CotBenTrai" class="form-control" />
                <span asp-validation-for="CotBenTrai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CotBenPhai" class="control-label"></label>
                <input asp-for="CotBenPhai" class="form-control" />
                <span asp-validation-for="CotBenPhai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaiHocId" class="control-label"></label>
                <select asp-for="BaiHocId" class ="form-control" asp-items="ViewBag.BaiHocId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
